{% extends 'base.html' %}

{% block content %}

<h2>Add Password</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-success">

        Save Password

    </button>

</form>

<div class="mt-3">

    <button
        type="button"
        class="btn btn-info"
        onclick="generatePassword()">

        🎲 Generate Strong Password

    </button>

</div>

<script>

function generatePassword(){

    fetch("/vault/generate/")

    .then(response=>response.json())

    .then(data=>{

        document.getElementById(
            "id_encrypted_password"
        ).value=data.password;

    });

}

</script>

{% endblock %}




